
.edie__firstsection {

  margin-inline-start: 10%;
  margin-inline-end: 10%;
  //  calc(#{$padding-inline-start} * 3);
    &--anchore {
      text-decoration: $text-decoration;
      color: #2D9CDB;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      font-family: Poppins;
    }

    &__heloImage {
      margin-inline-end: calc(#{$padding-inline-start} * -4);
    }

    &--title {
      @include combinationfont
    }


    &__story--title {
      font-family: Poppins ;
      font-weight: 500;
      font-size: 35px;
      line-height:72px;
    }

    &__help {
      font-family: Poppins;
      font-weight: 400; 
      font-size: 18px;
      line-height: 27px;

    }


    &__label {
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

    }

}


    .edie__firstsection__form {
      position: relative;
    }

    .edie__firstsection__join {
        position: absolute; 
        border-radius: 5px; 
        right: 0px; 
        z-index: 2; 
        border: none; 
        top: 8px; 
        height: 30px; 
        cursor: pointer; 
        color: white; 
        background-color: #1e90ff; 
        transform: translateX(2px); 
        right: 9px;
        width: 48px;
    }

    .edie__firstsection__input {
        margin: 0px; 
        padding: 0px; 
        width: 100%; 
        outline: none; 
        height: 40px; 
        border-radius: 5px;  
        background-color:  #F2F2F2;;
    }

