.edie__fourthsection {
  padding-bottom: $padding-bottom;
  position: relative;
    &__laidback {

        &--subtitle {
            color: #EB5757;
            @include otherfont;
            margin-inline-start: $margin-inline-start;
        }

        &--title {
           font-family: Poppins;
           font-weight: 500;
           font-size: 30px;
           line-height: 54px;
           margin-inline-start: $margin-inline-start;
        }

        &--moreInfo {
          @include font2;
          margin-inline-start: $margin-inline-start;
        }
    }

    &__talented--title {
      @include combinationfont;
      margin-inline-start: $margin-inline-start;

    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
       
    }

    &__laidback--elit {
      margin-top: calc(#{$margin-top} * 10);

    }

    &__laidback--persone1 {
      grid-column: 2;
      grid-row: 1;
      margin: $margin;
      margin-top: 10rem;
      // margin-bottom: 2rem;
    }

    &__laidback--persone2 {
      grid-column: 2;
      grid-row: 2;
      margin: $margin;
      margin-bottom: 11rem;
    }


}


  .edie__fourthsection__laidback--persone3 {
      grid-column: 1 ;
      grid-row: 1 / span 2;
      margin: $margin;
      margin-top: 18rem;
      margin-bottom: 18rem;

      
  }

    .edie__fourthsection__talented--container {
     columns: 2;
  }

  .edie__fourthsection__talented--carlos {
    margin-left: $margin-left;

  }

  .edie__fourthsection__talented--carlos__name {
      @include combinationfont;
      
  }


  .edie__fourthsection__talented--carlos__profetion {
    @include otherfont;
    color: #828282;
  }

  .edie__fourthsection__talented--carlos__name, 
  .edie__fourthsection__talented--carlos__profetion {
      //  position: absolute;
       bottom: 1rem;

  }

  @media (min-width: 1000px)  {
    .edie__fourthsection {
      margin-inline-end: 165px;
      margin-inline-start: 165px;


      &__talented--title {
        width: 600px;
      }

      &__laidback--elit {
        width: 280px;
      }

      &__laidback--part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &__laidback--title,
      &__laidback--moreInfo {
        grid-column: 1;
        top: 2rem;
      }
    }

 
  }



  






