    .edie__firstsection__heloImage--picture_image {
      width: 100%;
      border-radius: 20px;
      height: 200%;
       margin-inline-start: calc(#{$padding-inline-start} * -2);
       margin-inline-end: calc(#{$padding-inline-end} * -4);
    }

 

    .edie__secondsection__anchore--edit {
        background-color: #2D9CDB;
        padding: $padding;
        border-radius: 10px;
    }

  .edie__secondsection__anchore--chevron {
      background-color: #27AE60;
      padding: $padding;
      border-radius: 10px;
  }

  .edie__secondsection__anchore--menu {
      background-color: #EB5757;
      padding: $padding;
      border-radius: 10px;
  }