    .edie__firstsection__heloImage--picture_image {
      width: 100%;
      border-radius: 20px;
      height: 200%;
       margin-inline-start: calc(#{$padding-inline-start} * -2);
       margin-inline-end: calc(#{$padding-inline-end} * -4);
    }

 

    .edie__secondsection__svg--edit {
        background-color: #2D9CDB;
        padding: calc(#{$padding} / 2);
        border-radius: 10px;
    }


  .edie__secondsection__svg--chevron {
       background-color: #27AE60;
       padding: $padding;
       border-radius: 10px;
       width: 10px;
  }


  .edie__secondsection__svg--menu {
       background-color: #EB5757;
       padding: calc(#{$padding} / 2);
       border-radius: 10px;
  }

  .edie__thirdsection__dashboard--picture__image,
  .edie__thirdsection__onboard--picture__image,
  .edie__thirdsection__booking--picture__image,
  .edie__thirdsection__juice--picture__image {
      width: 100%;
      height: 100%;
      border-radius: 10px

  }


  .edie__fourthsection__laidback--persone1__image,
  .edie__fourthsection__laidback--persone2__image,
  .edie__fourthsection__laidback--persone3__image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      
  }

  .edie__fourthsection__laidback--persone3__image {
    //   position: absolute;

  }


  .edie__fourthsection__talented--carlos__image {
      width: 100%;
      border-radius: 10px;
      margin-inline-start: $margin-inline-start;
      float: left;
      
  }