.edie__thirdsection {
    position: relative;
    &__title {
        @include combinationfont;
        margin-inline-start: $margin-inline-start;
    }

    &__dashboard, &__onboard, &__booking, &__juice {
        margin: $margin;

        &--application {
          font-family: Poppins;
          font-size: 12px;
          line-height: 18px;
          font-weight: 300;
          color: #828282;
        }

        &--moreInfo {
           font-family: Poppins;
           font-weight: 500;
           font-size: 18px;
           line-height: 27px;
           color: #333333;
        }
    }

    &__seemore {
        text-decoration: $text-decoration;
        color: #2D9CDB;
       @include otherfont
        
    }


}

@media (min-width: 1000px) {
   .edie__thirdsection {
       margin-inline-start: 165px;
       margin-inline-end: 165px;
   }

    .edie__thirdsection__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

