@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2); }

@font-face {
  font-family: Montserrat;
  src: url("../webroot/fonts/Montserrat-Bold.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Bold.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff2") format(woff2); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Regular.woff") format(woff); }

body {
  background-color: #ffffff;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin: 0;
  max-width: 1440px;
  max-height: 5835px;
  padding: 0; }

footer {
  padding: 1.5rem; }

.edie__firstsection__heloImage--picture_image {
  width: 100%;
  border-radius: 20px;
  height: 200%;
  margin-inline-start: calc(1rem  * -1);
  margin-inline-end: calc(1rem * -4); }

.edie__secondsection__svg--edit {
  background-color: #2D9CDB;
  padding: calc(1rem / 2);
  border-radius: 10px; }

.edie__secondsection__svg--chevron {
  background-color: #27AE60;
  padding: 1rem;
  border-radius: 10px;
  width: 10px; }

.edie__secondsection__svg--menu {
  background-color: #EB5757;
  padding: calc(1rem / 2);
  border-radius: 10px; }

.edie__thirdsection__dashboard--picture__image,
.edie__thirdsection__onboard--picture__image,
.edie__thirdsection__booking--picture__image,
.edie__thirdsection__juice--picture__image {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.edie__fourthsection__laidback--persone1__image,
.edie__fourthsection__laidback--persone2__image,
.edie__fourthsection__laidback--persone3__image {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.edie__fourthsection__talented--carlos__image {
  width: 50%;
  border-radius: 10px;
  margin-inline-start: 1rem;
  float: left;
  margin-right: 1rem; }

@media (min-width: 1000px) {
  .edie__fourthsection__talented--carlos__image {
    width: 25%; }
  .edie__firstsection__heloImage--picture_image {
    margin-inline-start: calc(1rem  * -5);
    margin-inline-end: calc(1rem * -4); } }

.edie__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  font-family: Heebo;
  margin-block-start: 0;
  margin: 1rem;
  padding-top: 1rem; }

.edie__list {
  list-style: none; }
  .edie__list__anchore {
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 1rem; }

.edie {
  position: relative; }

.bar {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem; }

.edie-checkbox {
  position: absolute;
  top: 0;
  right: 0.35rem;
  zoom: 2;
  opacity: 0; }

.edie__navigation {
  background-color: black;
  color: white;
  box-shadow: 1px 5px 5px 10px #cecdcd;
  width: 200px;
  margin-inline-start: 1rem;
  padding: 1rem;
  border-radius: 20px;
  position: fixed;
  left: -200px; }

input[type=checkbox]:checked + .edie__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  left: -100px;
  z-index: 2;
  margin-inline-start: 1rem; }

input[type=checkbox]:not(:checked) + .edie__navigation {
  transform: translateX(-110%);
  transition: all 0.5s ease-out;
  left: -100px; }

@media (min-width: 1000px) {
  .bar {
    display: none; }
  .edie-checkbox {
    display: none; }
  .edie__navigation {
    background-color: transparent;
    color: #333333;
    width: 200px;
    margin-inline-start: 1rem;
    padding: 1rem;
    display: flex;
    box-shadow: none;
    top: 0;
    margin-inline-start: 40%;
    position: relative; }
  input[type=checkbox]:checked + .edie__navigation {
    transform: translateX(50%);
    transition: none;
    left: 0;
    z-index: 2;
    margin-inline-start: 1rem; }
  .edie__list__anchore {
    color: #333333; }
  .edie__list {
    display: flex; }
  input[type=checkbox]:not(:checked) + .edie__navigation {
    transform: translateX(0%);
    transition: none;
    left: 0; } }

.edie__firstsection {
  margin-inline-start: 10%; }
  .edie__firstsection--anchore {
    text-decoration: none;
    color: #2D9CDB;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: Poppins; }
  .edie__firstsection--title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }
  .edie__firstsection__story--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
    line-height: 72px; }
  .edie__firstsection__help {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; }
  .edie__firstsection__label {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282; }

.edie__firstsection__form {
  position: relative;
  padding-top: 105px; }

.edie__firstsection__join {
  position: absolute;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 130px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(2px);
  right: 9px;
  width: 48px; }

.edie__firstsection__input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 40px;
  border-radius: 5px;
  background-color: #F2F2F2;
  border: none; }

.edie__firstsection__input::placeholder {
  padding: 1rem;
  color: #BDBDBD;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 1000px) {
  .edie__firstsection__story {
    width: 30%; } }

.edie__secondsection__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: calc(1rem + 0.5rem);
  margin-inline-start: calc(1rem * 2);
  width: 50%;
  padding: calc(1rem * 3);
  padding-left: 0; }

.edie__secondsection__desing, .edie__secondsection__frontend, .edie__secondsection__backend {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem; }
  .edie__secondsection__desing--startnbtn, .edie__secondsection__frontend--startnbtn, .edie__secondsection__backend--startnbtn {
    border: none;
    background-color: #E0E0E0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    padding: calc(1rem / 2); }
  .edie__secondsection__desing--subtitle, .edie__secondsection__frontend--subtitle, .edie__secondsection__backend--subtitle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px; }
  .edie__secondsection__desing--moreInfo, .edie__secondsection__frontend--moreInfo, .edie__secondsection__backend--moreInfo {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; }

.edie__secondsection__desing:hover, .edie__secondsection__backend:hover, .edie__secondsection__frontend:hover {
  box-shadow: 1px 5px 5px 10px #cecdcd; }

.edie__secondsection__desing:hover .edie__secondsection__desing--startnbtn,
.edie__secondsection__backend:hover .edie__secondsection__backend--startnbtn,
.edie__secondsection__frontend:hover .edie__secondsection__frontend--startnbtn {
  background-color: #2D9CDB;
  color: white; }

@media (min-width: 1000px) {
  .edie__secondsection {
    margin-inline-start: 165px;
    margin-inline-end: 165px; }
  .edie__secondsection__container {
    display: flex; }
  .edie__secondsection__title {
    width: 260px; } }

.edie__thirdsection {
  position: relative; }
  .edie__thirdsection__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-inline-start: 1rem; }
  .edie__thirdsection__dashboard, .edie__thirdsection__onboard, .edie__thirdsection__booking, .edie__thirdsection__juice {
    margin: 1rem; }
    .edie__thirdsection__dashboard--application, .edie__thirdsection__onboard--application, .edie__thirdsection__booking--application, .edie__thirdsection__juice--application {
      font-family: Poppins;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      color: #828282; }
    .edie__thirdsection__dashboard--moreInfo, .edie__thirdsection__onboard--moreInfo, .edie__thirdsection__booking--moreInfo, .edie__thirdsection__juice--moreInfo {
      font-family: Poppins;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #333333; }
  .edie__thirdsection__seemore--anchore {
    text-decoration: none;
    color: #2D9CDB;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px; }
  .edie__thirdsection__seemore {
    margin-top: calc(1rem * 3);
    margin-inline-start: 1rem; }
  .edie__thirdsection__seemore--svg {
    margin-block-start: 1rem; }

@media (min-width: 1000px) {
  .edie__thirdsection {
    margin-inline-start: 165px;
    margin-inline-end: 165px; }
    .edie__thirdsection__dashboard, .edie__thirdsection__booking {
      margin-top: calc(1rem * 15); }
    .edie__thirdsection__onboard, .edie__thirdsection__juice {
      margin-bottom: calc(1rem * 15); }
    .edie__thirdsection__title {
      width: 300px; }
    .edie__thirdsection__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }

.edie__fourthsection {
  padding-bottom: 1rem;
  position: relative; }
  .edie__fourthsection__laidback--subtitle {
    color: #EB5757;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-inline-start: 1rem; }
  .edie__fourthsection__laidback--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 54px;
    margin-inline-start: 1rem; }
  .edie__fourthsection__laidback--moreInfo {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-inline-start: 1rem; }
  .edie__fourthsection__talented--title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-inline-start: 1rem; }
  .edie__fourthsection__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .edie__fourthsection__laidback--elit {
    margin-top: calc(1rem * 10); }
  .edie__fourthsection__laidback--persone1 {
    grid-column: 2;
    grid-row: 1;
    margin: 1rem;
    margin-top: 10rem; }
  .edie__fourthsection__laidback--persone2 {
    grid-column: 2;
    grid-row: 2;
    margin: 1rem;
    margin-bottom: 11rem; }

.edie__fourthsection__laidback--persone3 {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin: 1rem;
  margin-top: 16rem;
  margin-bottom: 16rem; }

.edie__fourthsection__talented--container {
  columns: 2; }

.edie__fourthsection__talented--carlos {
  margin-left: 1rem; }

.edie__fourthsection__talented--carlos__name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; }

.edie__fourthsection__talented--carlos__profetion {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #828282; }

.edie__fourthsection__talented--carlos__name,
.edie__fourthsection__talented--carlos__profetion {
  bottom: 1rem; }

@media (min-width: 1000px) {
  .edie__fourthsection {
    margin-inline-end: 165px;
    margin-inline-start: 165px; }
    .edie__fourthsection__talented--title {
      width: 600px; }
    .edie__fourthsection__laidback--elit {
      width: 280px; }
    .edie__fourthsection__laidback--part {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
    .edie__fourthsection__laidback--title, .edie__fourthsection__laidback--moreInfo {
      grid-column: 1;
      top: 2rem; } }

.edei__footer {
  background-color: #100E1D; }
  .edei__footer__navigation {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    padding-top: 1rem; }
  .edei__footer__list {
    list-style: none; }
  .edei__footer__list--anchore {
    color: #ffff;
    text-decoration: none; }
  .edei__footer__links--logo {
    font-family: Heebo;
    font-weight: 800;
    font-size: 36px;
    line-height: 53.88px;
    color: #F2F2F2; }
  .edei__footer__links--list {
    list-style: none; }
  .edei__footer__bottom {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #A9A9A9;
    padding-top: calc(1rem * 6); }
  .edei__footer__label {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #828282; }
  .edei__footer__links--anchore {
    color: transparent; }
  .edei__footer__links--lists {
    padding-inline-start: 0; }
  .edei__footer__navigation--lists {
    padding-inline-start: 0; }
  .edei__footer__links--lists {
    display: flex; }
  .edei__footer__links--list {
    margin-left: 0; }
  .edei__footer__container {
    margin-inline-start: calc(1rem * 2); }
  .edei__footer__form {
    position: relative; }
  .edei__footer__input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin-right: 1rem; }
  .edei__footer__btn {
    position: absolute;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 25px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
    right: 9px;
    width: 48px; }

.instagram {
  background-image: url("../images/icons/instagram.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  padding-right: 0;
  margin-right: calc(1rem * -1); }

.in {
  background-image: url("../images/icons/linkedin.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.twitter {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.edei__footer__input::placeholder {
  padding: 1rem;
  color: #BDBDBD;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 1000px) {
  .edei__footer__container {
    margin-inline-end: 165px;
    margin-inline-start: 165px;
    display: flex; }
  .edei__footer__links {
    margin-left: calc(1rem * 10); }
  .edei__footer__form {
    margin-left: calc(1rem * 5);
    margin-block-start: calc(1rem * 2.5); }
  .edei__footer__bottom {
    margin-inline-start: 165px; } }
