@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2); }

@font-face {
  font-family: Montserrat;
  src: url("../webroot/fonts/Montserrat-Bold.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Bold.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff2") format(woff2); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Regular.woff") format(woff); }

html {
  background-color: #333333; }

body {
  background-color: #ffffff;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 0;
  margin: 0; }

.edie__firstsection__heloImage--picture_image {
  width: 100%;
  border-radius: 20px;
  height: 200%;
  margin-inline-start: calc(1rem * -2);
  margin-inline-end: calc(1rem * -4); }

.edie__secondsection__svg--edit {
  background-color: #2D9CDB;
  padding: calc(1rem / 2);
  border-radius: 10px; }

.edie__secondsection__svg--chevron {
  background-color: #27AE60;
  padding: 1rem;
  border-radius: 10px;
  width: 10px; }

.edie__secondsection__svg--menu {
  background-color: #EB5757;
  padding: calc(1rem / 2);
  border-radius: 10px; }

.edie__thirdsection__dashboard--picture__image,
.edie__thirdsection__onboard--picture__image,
.edie__thirdsection__booking--picture__image,
.edie__thirdsection__juice--picture__image {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.edie__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  font-family: Heebo; }

.edie__list {
  list-style: none;
  display: flex; }
  .edie__list__anchore {
    text-decoration: none;
    color: rgba(14, 13, 13, 0.624);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 1rem; }

.bar {
  width: 20px; }

.edie__firstsection {
  margin-inline-start: 10%;
  margin-inline-end: 10%; }
  .edie__firstsection--anchore {
    text-decoration: none;
    color: #2D9CDB;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: Poppins; }
  .edie__firstsection__heloImage {
    margin-inline-end: calc(1rem * -4); }
  .edie__firstsection--title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }
  .edie__firstsection__story--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
    line-height: 72px; }
  .edie__firstsection__help {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; }
  .edie__firstsection__label {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px; }
  .edie__firstsection__join {
    width: 91px;
    height: 40px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    margin-inline-start: calc(1rem * -1); }
  .edie__firstsection__input {
    width: 200px;
    height: 40px;
    background: #F2F2F2;
    border-radius: 12px;
    border: none; }

.edie__secondsection__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: calc(1rem + 0.5rem); }

.edie__secondsection__desing, .edie__secondsection__frontend, .edie__secondsection__backend {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem; }
  .edie__secondsection__desing--startnbtn, .edie__secondsection__frontend--startnbtn, .edie__secondsection__backend--startnbtn {
    border: none;
    background-color: #E0E0E0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px; }
  .edie__secondsection__desing--subtitle, .edie__secondsection__frontend--subtitle, .edie__secondsection__backend--subtitle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px; }
  .edie__secondsection__desing--moreInfo, .edie__secondsection__frontend--moreInfo, .edie__secondsection__backend--moreInfo {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; }

.edie__secondsection__desing:hover, .edie__secondsection__backend:hover, .edie__secondsection__frontend:hover {
  box-shadow: 1px 5px 5px 10px #cecdcd; }
  .edie__secondsection__desing:hover--startnbtn, .edie__secondsection__backend:hover--startnbtn, .edie__secondsection__frontend:hover--startnbtn {
    background-color: #2D9CDB;
    color: #ffff; }

.edie__thirdsection__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-inline-start: 1rem; }

.edie__thirdsection__dashboard, .edie__thirdsection__onboard, .edie__thirdsection__booking, .edie__thirdsection__juice {
  margin: 1rem; }
  .edie__thirdsection__dashboard--application, .edie__thirdsection__onboard--application, .edie__thirdsection__booking--application, .edie__thirdsection__juice--application {
    font-family: Poppins;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #828282; }
  .edie__thirdsection__dashboard--moreInfo, .edie__thirdsection__onboard--moreInfo, .edie__thirdsection__booking--moreInfo, .edie__thirdsection__juice--moreInfo {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333; }

.edie__thirdsection__seemore {
  text-decoration: none;
  color: #2D9CDB;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px; }
